@{
    ViewData["Title"] = "Prova Tecnica Setis";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
    <p>Saiba Mais Sobre Mim! <a href="https://www.linkedin.com/in/bielnatali/">Meu Linkedin</a>.</p>
</div>
